.home-container {
  height: 100vh;
  background: url("../images/Lift.jpg") center no-repeat;
  background-size: cover;
  position: relative;
  // opacity: 0.75;
  .top-info-container-1 {
    // background-color: rgba(0, 0, 0, 0.25);
    color: whitesmoke;
    font-size: 1.75rem;
    padding: 25px;
    // position: relative;
    // top: 75%;
    // left: 50%;
    position: absolute;
    text-align: center;
    top: 15%;
    left: 0;
    width: 100%;
    .special-title {
      color: maroon;
      font-weight: bold;
    }
  }
  .top-info-container-2 {
    color: whitesmoke;
    font-size: 1.25rem;
    padding: 25px;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 0;
    width: 100%;
  }
  .top-info-container-3 {
    color: whitesmoke;
    font-size: 1rem;
    padding: 25px;
    position: absolute;
    text-align: center;
    top: 75%;
    left: 0;
    width: 100%;
    .home-btn-links {
      text-decoration: none;
      color: white;
      font-size: 1rem;
      font-weight: bold;
      padding: 10px 10px;
      margin: 0px 15px;
      background-color: rgba(0, 0, 0, 0.5);
      // background-color: transparent;
      border: 2px solid maroon;
      box-shadow: 0px 0px 2px 2px maroon;
      transition: 0.5s ease;
      &:hover {
        cursor: pointer;
        background-color: maroon;
        box-shadow: 0px 2px 2px 2px #212121;
      }
    }
  }
}
