* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  height: 50px;
  background-color: whitesmoke;
  // box-shadow: 0px 5px 15px grey;

  // OPTION2: Make transparent and hover over top image
  background-color: transparent;
  position: absolute;
  width: 100%;
  z-index: 1;
  .nav-title {
    position: absolute;
    color: whitesmoke;
    top: 10px;
    left: 25px;
    font-size: 1.25rem;
  }
}

.nav-links {
  display: flex;
  list-style: none;
  width: 50%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  .nav-link {
    text-decoration: none;
    padding: 5px 25px;
    font-size: 1rem;
    font-weight: bold;
    transition: 0.5s ease;
    color: maroon;
    &:hover {
      cursor: pointer;
      color: maroon;
      box-shadow: 2px 2px 2px;
    }
  }
}

@media screen and (max-width: 768px) {
  .line {
    width: 30px;
    height: 3px;
    background-color: maroon;
    margin: 5px;
  }
  nav {
    // position: relative;
    z-index: 1000;
  }
  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
  }
  .nav-links {
    position: fixed;
    background-color: whitesmoke;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(0px at 90% 10%);
    -webkit-clip-path: circle(0px at 90% 0%);
    transition: 0.5s ease;
    pointer-events: none;
  }
  .nav-links.open {
    clip-path: circle(1500px at 90% 10%);
    -webkit-clip-path: circle(1500px at 90% 10%);
    pointer-events: all;
  }
}
